


.portfolioHeader {
    font-family: 'Vast Shadow', cursive;
    font-size: 68px;
    width: 60vw;
    height: 15vh;
    color: chartreuse;
    text-align: center;
    position: absolute;
    right: 25%;
    padding-left: 20px;
    background: linear-gradient(to right, 
    #444444 20%, #3a3a3a 20% 40%, #262626 40% 60%, #080808 60% 80%, #080808 80%);
    border-radius: 50%;
}

.header:hover{
        color: red;
    } 

.portfolioContent{
    width: 960px;
    display: table;
    position: relative;
}
.portfolioContent:visited{
    color: rgb(233, 229, 233);

}

.tablePics {
    padding: 5px;
}

.myBand {
    border: 2px cyan solid;
    position: absolute;
    display: table;
    top: 50vh;
    left: 20vw;
    transform: translate(-50%,-50%);
    height: 180px;
    width: 180px;
    background: url("./images/liveshotdark.JPG");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
}

.myBand:hover{
    color: greenyellow;
    font-size: 80px;
    background: url("./images/livdshotmoon.JPG");
    background-size: cover;
    background-position: center;
}

.myBand:visited{
    color: rgb(233, 229, 233);
}

.myTravels {
    border: 2px cyan solid;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    display: table;
    height: 180px;
    width: 180px;
   
    background: url("./images/foglake.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(233, 229, 233);
    text-align: center;
    font-size: 20px;
}

.myTravels:hover{
    color: darkorchid;
    font-size: 80px;
    background: url("./images/snowboarding.jpg");
    background-size: cover;
    background-position: center;
}

.myTravels:visited{
    color: rgb(233, 229, 233);
}

.producer {
    display: table;
    position: absolute;
    top: 50vh;
    left: 80vw;
    transform: translate(-50%,-50%);
    border: 2px cyan solid;
    height: 180px;
    width: 180px;
    background: url("./images/livecrowd.JPG");
    background-position: center;
    background-size: cover;
    color: rgb(233, 229, 233);
    text-align: center;

    font-size: 20px;
}


.producer:hover{
    color: greenyellow;
    font-size: 80px;
    background: url("./images/liveshotwarped.JPG");
    background-size: cover;
    background-position: center;
}

.producer:visited{
    color: rgb(233, 229, 233);
}

